{% extends 'layout.html.twig' %}

{% block content %}
    <div class="prose mx-auto">
        <div class="flex flex-col gap-5">
            <div class="w-full">
                <twig:Ticket:TicketDetails ticket="{{ ticket }}" />
            </div>
            <div class="divider"></div>
            <twig:Comment:CommentForm ticket="{{ ticket }}"/>
        </div>
    </div>
{% endblock %}
