<div {{ attributes }} class="prose mx-auto">
    {{ form_start(form, {
        attr: {
            'novalidate': true,
            'data-action': 'live#action',
            'data-action-name': 'prevent|save',
        }
    }) }}
    <h3>Tags :</h3>
    {% for key, tagForm in form.tags %}
        <div class="flex flex-row gap-5 my-5">
            <div class="form-control w-full">
                {{ form_widget(tagForm.name, {R
                    attr: {
                        class: 'input input-bordered w-full'
                    }
                }) }}
                <small class="text-error font-bold">{{ form_errors(tagForm.name) }}</small>
            </div>
            {# render a delete button for every row #}
            {{ form_row(tagForm.vars.button_delete, { label: 'X', attr: { class: 'btn btn-error text-error-content' } }) }}
        </div>


    {% endfor %}

    {# render the add button #}
    {{ form_widget(form.tags.vars.button_add, { label: '+ Add tag', attr: {class: 'btn btn-primary btn-outline w-full'} }) }}

    {# render rest of the form #}
    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary w-full my-5" {{ this.hasValidationErrors ? 'disabled' : '' }}>Validate</button>
    {{ form_end(form) }}
</div>
