{% extends 'layout.html.twig' %}

{% block content %}
    <div class="flex flex-row justify-between">
        <h2 class="card-title">{{ tickets ? tickets|length : '0' }} Tickets</h2>
        {% if app.user %}
        <a class="btn btn-primary sm:btn-sm md:btn-md" href="{{ path('ticket_create') }}">
            Create a ticket
        </a>
        {% endif %}
    </div>
    <div class="divider"></div>
    {% for ticket in tickets %}
        <twig:TicketItem ticket="{{ ticket }}"/>
    {% endfor %}
{% endblock %}
