{% extends 'layout.html.twig' %}

{% block content %}
    <div class="prose mx-auto">
        <div class="flex flex-col gap-5">
            <div class="w-full">
                <twig:Ticket:TicketDetails ticket="{{ ticket }}" />
            </div>
            <div class="divider"></div>
            <div class="w-full prose-sm">
                {% if app.user and not ticket.isDone %}
                    <a href="{{ path('app_comment_create', {id: ticket.id}) }}" class="btn btn-primary no-underline w-full text-primary-content">Write a comment</a>
                {% endif %}
                {% for comment in ticket.comments %}
                    <twig:Comment:CommentCard comment="{{ comment }}" />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
