{% extends 'layout.html.twig' %}

{% block content %}
    <div class="prose mx-auto">
        <h1>Update the tag name</h1>
        {{ form_start(form) }}
        <div class="form-control">
            <label class="label">
                <span class="label-text">{{ form_label(form.name) }}</span>
            </label>
            {{ form_widget(form.name, {
                attr: {
                    class: 'input input-bordered w-full'
                }
            }) }}
            <small class="text-error">{{ form_errors(form.name) }}</small>
        </div>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary w-full">Register</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
